.color-button {
  padding: 12px;
  border-radius: 999px;
  -gtk-outline-radius: 999px;
  outline-offset: 1px;
  border: none;
  -gtk-icon-shadow: none;
  min-width: 0px;
  min-height: 0px;
  color: transparent;
  transition: all 200ms ease-out;
}

.color-light {
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #2e3436;
}

.color-light:checked {
  color: #2e3436;
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.color-dark {
  background: #2d2d2d;
  box-shadow: inset 0 0 0 1px alpha(black, .35);
}
.color-dark:checked {
  color: #eeeeec;
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}
